<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#db0000"/>
    <link rel="icon" type="image/x-icon" href="/icons/kenyang.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/kenyang192.png">
    <title>Kenyang Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link" onclick="document.querySelector('#maincontent').focus()" >Menuju ke konten</a>
    <header>
      <button arial-label="navigasi restaurant" class="hamburger-button">
        <svg
          class="hamburger-icon"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="img"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 16 16"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"
          />
        </svg>
      </button>
        <a href="#/">
          <h1>Kenyang Apps</h1>
        </a>
      </div>
      <nav id="drawer">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/ditorbejo/">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main tabindex="0" id="maincontent">
      <div class="loadingio-spinner-spinner-r2ygmwcv4s"><div class="ldio-hxi0dy5wcfb">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div></div>
    </main>

    <footer>
      <p tabindex="0">Copyright &copy; 2022 Kenyang Apps by Ditor</p>
    </footer>
  </body>
</html>
